# HW1

In [230]:
from scipy.io import arff
import pandas as pd
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class']==b'1')

## Create a new dataframe

In [258]:
df_new=df[['Attr1','Attr2','Attr7','Attr10','bankruptcy']]
df_new.columns=['X1','X2','X7','X10','bankruptcy']
df_new

            X1       X2        X7      X10  bankruptcy
0     0.159290  0.46240  0.189480  0.38330       False
1    -0.127430  0.46243 -0.127430  0.53757       False
2     0.070488  0.23570  0.086895  0.67689       False
3     0.136760  0.40538  0.136760  0.58938       False
4    -0.110080  0.69793 -0.110080  0.30207       False
...        ...      ...       ...      ...         ...
9787  0.004676  0.54949  0.013002  0.43205        True
9788 -0.027610  0.60748 -0.027610  0.33509        True
9789 -0.238290  0.62708 -0.240360  0.17760        True
9790  0.097188  0.75300  0.104280  0.24700        True
9791  0.021416  0.48678  0.027253  0.51267        True

[9792 rows x 5 columns]

In [232]:
df_new.isnull().sum()

X1            1
X2            1
X7            1
X10           1
bankruptcy    0
dtype: int64

## Fill Nan with mean

In [233]:
fill_mean=lambda x:x.fillna(x.mean())
df_new=df_new.apply(fill_mean)
df_new.isnull().sum()

X1            0
X2            0
X7            0
X10           0
bankruptcy    0
dtype: int64

## Mean and Std among all

In [257]:
mean_all=df_new.mean()
std_all=df_new.std()
print('mean among all:\n',mean_all[0:4])
print('\nstd among all:\n',std_all[0:4])

mean among all:
 X1     0.043019
X2     0.596404
X7     0.059446
X10    0.389040
dtype: float64

std among all:
 X1     0.359303
X2     4.586887
X7     0.533317
X10    4.590064
dtype: float64

## Mean and Std among bankrupted

In [235]:
mean_bkrt=df_new[df_new['bankruptcy']==True].mean()
std_bkrt=df_new[df_new['bankruptcy']==True].std()
print('mean among bankrupted:\n',mean_bkrt[0:4])
print('\nstd among bankrupted:\n',std_bkrt[0:4])

mean among bankrupted:
 X1    -0.068873
X2     0.878355
X7    -0.061538
X10    0.103367
dtype: float64

std among bankrupted:
 X1     0.568076
X2     1.945596
X7     0.568432
X10    1.946747
dtype: float64

## Mean and Std among operating

In [240]:
mean_opr=df_new[df_new['bankruptcy']==False].mean()
std_opr=df_new[df_new['bankruptcy']==False].std()
print('mean among operating:\n',mean_opr[0:4])
print('\nstd among operating:\n',std_opr[0:4])

mean among operating:
 X1     0.049231
X2     0.580752
X7     0.066162
X10    0.404899
dtype: float64

std among operating:
 X1     0.343002
X2     4.689694
X7     0.530524
X10    4.692934
dtype: float64

## Companies have X1 values 1 std below the mean AND X10 values 1 std below the mean

In [255]:
mean_X1=mean_all[0]
mean_X10=mean_all[3]
std_X1=std_all[0]
std_X10=std_all[3]
num=sum((df_new['X1'] < (mean_X1-std_X1))& (df_new['X10'] < (mean_X10-std_X10)))
num

15

## Ratio of the bankrupted companies among the sub-groups above

In [250]:
num_bkrt_among_above_group=sum((df_new['X1'] < (mean_X1-std_X1))& (df_new['X10'] < (mean_X10-std_X10)) &df_new['bankruptcy']==True)
ratio=num_bkrt_among_above_group/num
ratio

0.2